html {
  background-image: url('./images/gradient.jpg');
  background-attachment: fixed;
}

body {
  background: rgba(255,150,255,0.3);
}

p,  ol *, ul * {
  font-family: 'Trebuchet MS';
  font-size: 1.25em;
  text-align: justify;
}

h2,h3 {
  font-weight: bold;
  font-family: "Andale Mono";
}

h1 {
  font-family: Impact;
}

footer {
  font-family: Georgia;
  color: darkslategray;
}

article {
    display: grid;
    grid-template-columns: 1fr [start] 1.2in 5in 1.2in [end] 1fr;
    padding: 0.5in 0;
}

article * {
    grid-column: start/end;
}
img {
  opacity: 0.9;
}
